<template>
  <section>
    <b-modal :active.sync="isComponentModalActive"
             has-modal-card
             trap-focus
             aria-role="dialog"
             aria-modal>
      <modal-form-login v-bind="formProps"></modal-form-login>
    </b-modal>
  </section>
</template>

<script>
    import ModalFormLogin from "./ModalFormLogin";

    export default {
        components: {
            ModalFormLogin
        },
        data() {
            return {
                isComponentModalActive: true,
                formProps: {
                    username: 'Ivan',
                    password: 'SomePassword'
                }
            }
        },
        methods: {
            closeModal() {
                this.isComponentModalActive = false;
                this.$router.push('/')
            },
        },
        watch: {
            isComponentModalActive: function () {
                if(!this.isComponentModalActive) {
                    this.$router.push('/');
                }
            }
        }
    }
</script>