<template>
  <form action="" @submit.prevent="login">
    <div class="modal-card" style="width: auto" >
      <header class="modal-card-head">
        <p class="modal-card-title">Login</p>
      </header>
      <section class="modal-card-body" >
        <b-field label="User name">
          <b-input
              type="username"
              :value="username"
              placeholder="User name"
              required>
          </b-input>
        </b-field>
        <b-field label="Password">
          <b-input
              type="password"
              :value="password"
              password-reveal
              placeholder="Your password"
              required>
          </b-input>
        </b-field>
        <b-checkbox>Remember me</b-checkbox>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="closeModal">Close</button>
        <button class="button is-primary">Login</button>
      </footer>
    </div>
  </form>
</template>

<script>
    export default {
        name: "ModalFormLogin",
        data(){
            return {
                username: 'Ivan',
                password: 'SomePassword'
            }
        },
        methods:{
            closeModal() {
                this.$router.push('/')
            },
            login() {
                const { username, password } = this;
                this.$store.dispatch('AUTH_REQUEST', { username, password }).then(() => {
                    this.$router.push('/')
                })
            }
        }
    }
</script>

<style scoped>

</style>