<template>
    <b-navbar type="is-dark">
        <template slot="brand">
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                <img
                    src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"
                    alt="Lightweight UI components for Vue.js based on Bulma"
                >
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                Home
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/about' }">
                About
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/questions' }">
                Questions
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/user' }">
                User
            </b-navbar-item>
        </template>
        <template slot="end">
            <b-navbar-item tag="div">
                <div class="buttons">
                    <a class="button is-primary" v-if="isAuthenticated" @click="logout">
                        <strong>Log Out</strong>
                    </a>
                    <a class="button is-light" v-if="!isAuthenticated" @click="login">
                        <strong>Log In </strong>
                    </a>
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
    import {AUTH_LOGOUT} from "../store/actions/auth";//reaquest
    import {mapGetters} from 'vuex';

    export default {
        name: "Navigation",
        methods: {
            login() {
                //this.$store.dispatch(AUTH_REQUEST) .then(() =>
                    this.$router.push('/login');//);

            },
            logout: async function() {
                await this.$store.dispatch(AUTH_LOGOUT);
                await this.$router.push('/')
            }
        },
        computed: {
            ...mapGetters(['isAuthenticated','authStatus']),
        },
    }
</script>

<style scoped>

</style>