<template>
  <div>
    <h1>User Page</h1>
    <p>Username: <b>{{getProfile.name}}</b></p>
    <p>Title: <b>{{getProfile.title}}</b></p>

  </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: "UserPage",
        computed: {
            ...mapGetters(['getProfile']),
        }
    }
</script>

<style scoped>

</style>