<template>
  <div id="app">
    <Navigation />
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 3px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>

<script>
    import { AUTH_LOGOUT} from "./store/actions/auth";
    import Navigation from "./views/Navigation";

    const axios = require('axios');

    export default {
        components: {
            Navigation,
        },
        created: function () {
            axios.interceptors.response.use(undefined, function (err) {
                return new Promise(function () { //resolve, reject
                    if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
                        // if you ever get an unauthorized, logout the user
                        this.$store.dispatch(AUTH_LOGOUT)
                        // you can also redirect to /login if needed !
                    }
                    throw err;
                });
            });
        },
        methods:{
        },
    }
</script>